<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/style.css">
    </head>
    <body>
        <header class="HeaderSection">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="HeadingContent">
                            <h1><a href="#">Sample</a></h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="menuSec">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <nav class="Menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="mobileapp.html">Mobile App</a></li>
                                <li><a href="confederations.html">confederations</a></li>
                                <li><a href="confederations.html">confederations</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="socialIcon text-right">
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-facebook-square"></a>
                            <a href="#" class="fa fa-google-plus"></a>
                            <a href="#" class="Sfollow">Follow</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{ content }}


    </body>
</html>